<!DOCTYPE html>

<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>


    <div ng-app="main" ng-controller="barListCont">
        <div ng-repeat="bar in bars">
            <input type="text" ng-model="bars[$index].name"> {{bar.name}}
        </div>
    </div>


    <script>
        var app = angular.module("main", []);
        app.controller("barListCont", function ($scope,$http,$log) {
            $scope.bars = [{ name: 'elliot' }, { name: 'wanz' }]
            $http.get('http://localhost:8080/GetBarNames').then(function (response) {
                $scope.bars = response.data            
            });
        })

        function AddBar()
        {
            
        }
    </script>


</body>

</html>